<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="3fd3c652-af2a-4e57-beb5-95a32af3b31f" Publisher="CN=mattdisipio" Version="1.0.0.0" />
  <Properties>
    <DisplayName>redditMetro</DisplayName>
    <PublisherDisplayName>mattdisipio</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="redditMetro.App">
      <VisualElements DisplayName="sausageReddit" Logo="Assets\Logo.png" SmallLogo="Assets\small_logo.png" Description="sausageReddit is an app designed for Windows 8" ForegroundText="dark" BackgroundColor="#CEE3F8">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\wide_logo.png" ShortName="reddit" />
        <SplashScreen Image="Assets\splash.png" />
        <InitialRotationPreference>
          <Rotation Preference="portrait" />
          <Rotation Preference="landscape" />
          <Rotation Preference="portraitFlipped" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>